<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<!--Настройки путей и файлов-->
	<Files>
		<!--Папка в которую складываются перемещения-->		
		<FolderTransfers>Перемещения\</FolderTransfers>
		<!--Папка с архивом перемещений-->
		<FolderArchiveTransfers>Перемещения\Архив\</FolderArchiveTransfers>
		<!--Папка в которую складываются переоценки-->
		<FolderRevaluations>Переоценки</FolderRevaluations>
		<!--Папка с архивом переоценок-->
		<FolderArchiveRevaluations>Переоценки\Архив</FolderArchiveRevaluations>
		<!--Книга с остатками-->
		<NameOfStocksWb>Склады.xls</NameOfStocksWb>
		<!--Книга с продажами-->
		<NameOfSealingsWb>Продажи.xls</NameOfSealingsWb>
		<!--Книга с конкурентами-->
		<NameOfCompetitorsWb>Питерплюс.xlsx</NameOfCompetitorsWb>
		<!--Книга с дополнительными параметрами-->
		<NameOfParametersWb>Параметры.xlsx</NameOfParametersWb>
	</Files>
	
	<!--Настройки переоценки-->
	<Revaluations>
		<!--id нашего прайса на П+-->
		<IdPriceAp>Наш прайс</IdPriceAp>
		<!--Оптовый склад-->
		<StockNameWholesaleStock>Попова</StockNameWholesaleStock>
		<!--Список конкурентов исключений-->
		<ListExcludeCompetitors>
			<string>4352</string>
			<string>5801</string>
		</ListExcludeCompetitors>
		<!--Процент от объема остатка для конкурента-->
		<MinStockForCompetitor>0.2</MinStockForCompetitor>
		<!--Наш срок поставки-->
		<OurDeliveryTime>1</OurDeliveryTime>
		<!--Процент для выявления демпинга-->
		<DumpingPersent>0.02</DumpingPersent>
		<!--Допустимая разница в сроке поставки между нами и конкурентом-->
		<DeltaDeliveryTime>5</DeltaDeliveryTime>
		<!--Допустимое отношение остатков конкурента к нашему-->
		<DeltaCompetitorStock>0.03</DeltaCompetitorStock>
		<!--Пропускать конкурентов:-->
		<MaxCompetitorsToMiss>1</MaxCompetitorsToMiss>
		<!--Портал конкурентов 1- Питерплюс 2-Иксора 3-Партком-->
		<TypeCompetitor>1</TypeCompetitor>
	</Revaluations>
	
	<!--Настройки для заказов-->
	<Orders>
		<!--Поставщик по умолчанию-->
		<DefaultSupplierName>none</DefaultSupplierName>
		<!--Категории хранения для заказа-->
		<StorageCategorysToOrder>
			<string>Везде</string>
		</StorageCategorysToOrder>
		<!--Список производителей для игнорирования при заказе-->
	<IgnoreToOrderList>
		<string>Китай</string>
		<string>MaxMeyer</string>
		<string>ММ-КОЛОР</string>
		<string>Неизвестный производитель</string>
		<string>PRIM</string>
		<string>NOVLINE</string>
		<string>АКОМ</string>
		<string>Sher-Khan</string>
		<string>НЕВА-СТАНДАРТ</string>
		<string>SATURN</string>
		<string>SkyLine</string>
		<string>GT RADIAL</string>
		<string>DINITROL</string>
		<string>NANOPROTECH</string>
		<string></string>
		<string></string>
		<string></string>
	</IgnoreToOrderList>
		<!--Список поставщиков для игнорирования при заказе-->
	<IgnoreSupplierToOrderList>
		<string>Не Заказываем</string>
	</IgnoreSupplierToOrderList>
	</Orders>
	
	<!--Настройки перемещений-->
	<Transfers>
		<!--Если параметр указан, то перемещения делать только с этого склада-->
		<StockNameOneDonor></StockNameOneDonor>
		<!--Перемещать выбранные категории на этот определенный склад-->
		<StockNameToTransferSelectedStorageCategory>Попова</StockNameToTransferSelectedStorageCategory>
		<!--Категория обязательного наличия-->
		<NameOfStorageCatRequiredAvailability></NameOfStorageCatRequiredAvailability>
		<!--Выбранные категории для перемещения на определенный склад-->
		<ListSelectedStorageCategoryToTransfer>
			<string>НЛ12</string>
			<string>НЛ24</string>
			<string>Попова</string>
		</ListSelectedStorageCategoryToTransfer>
		<!--Категории хранения товаров для перемещений-->
		<ListStorageCategoryToTransfers>
			<string>Везде</string>
			<string>Опт</string>
			<string>МинЗапас</string>
			<string>Нигде</string>
		</ListStorageCategoryToTransfers>
		<!--Минимальный остаток по свойствам (Основное св-во з/ч 1)-->
		<ListPropertyRequiredAvailability>
			<string />
		</ListPropertyRequiredAvailability>
	</Transfers>
	
	<!--Настройки складов-->
	<Stocks>
		<Stock>
			<!--Название-->
			<Name>Попова</Name>
			<!--Дней минимального остатка-->
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<!--Дней максимального остатка-->
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<!--Приоритет-->
			<Priority>1</Priority>
			<!--Основный бренды-->
			<MainManufacturers>
				<string>КИТАЙ</string>
			</MainManufacturers>
			<!--Сигнатура для поиска в отчетах-->
			<Signature>попова</Signature>
		</Stock>
		<Stock>
			<Name>Хасанская</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>2</Priority>
			<Signature>хасанская</Signature>
		</Stock>
		<Stock>
			<Name>Симонова</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>3</Priority>
			<MainManufacturers>
				<string>CHERY</string>
				<string>GEELY</string>
			</MainManufacturers>
			<Signature>симонова</Signature>
		</Stock>
		<Stock>
			<Name>Краснопутиловская</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>4</Priority>
			<Signature>краснопутиловская</Signature>
		</Stock>
		<Stock>
			<Name>БОГАТЫРСКИЙ</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>5</Priority>
			<MainManufacturers>
				<string>LIFAN</string>
			</MainManufacturers>
			<Signature>богатырский</Signature>
		</Stock>
	</Stocks>
</Config>