<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<FilesCfg>
		<FolderTransfers>Перемещения\</FolderTransfers>
		<FolderArchiveTransfers>Перемещения\Архив\</FolderArchiveTransfers>
		<FolderRevaluations>Переоценки</FolderRevaluations>
		<FolderArchiveRevaluations>Переоценки\Архив</FolderArchiveRevaluations>
		<NameOfStocksWb>Склады.xls</NameOfStocksWb>
		<NameOfSealingsWb>Продажи.xls</NameOfSealingsWb>
		<NameOfCompetitorsWb>Питерплюс.xlsx</NameOfCompetitorsWb>
		<NameOfParametersWb>Параметры.xlsx</NameOfParametersWb>
	</FilesCfg>
	<RevaluationsCfg>
		<IdPriceAp>Наш прайс</IdPriceAp>
		<StockNameWholesaleStock>Попова</StockNameWholesaleStock>
		<ListExcludeCompetitors>
			<string>4352</string>
			<string>5801</string>
		</ListExcludeCompetitors>
		<MinStockForCompetitor>0.2</MinStockForCompetitor>
		<OurDeliveryTime>1</OurDeliveryTime>
		<DumpingPersent>0.02</DumpingPersent>
		<DeltaDeliveryTime>5</DeltaDeliveryTime>
		<DeltaCompetitorStock>0.03</DeltaCompetitorStock>
		<MaxCompetitorsToMiss>1</MaxCompetitorsToMiss>
		<TypeCompetitor>1</TypeCompetitor>
	</RevaluationsCfg>
	<OrdersCfg>
		<DefaultSupplierName>none</DefaultSupplierName>
	</OrdersCfg>
	<TransfersCfg>
		<NameOfStorageCatRequiredAvailability>МинЗапас;Везде</NameOfStorageCatRequiredAvailability>
		<StockNameToTransferSelectedStorageCategory>Попова</StockNameToTransferSelectedStorageCategory>
		<ListSelectedStorageCategoryToTransfer>
			<string>НЛ12</string>
			<string>НЛ24</string>
		</ListSelectedStorageCategoryToTransfer>
		<ListStorageCategoryToTransfers>
			<string>Попова</string>
			<string>Везде</string>
			<string>Опт</string>
			<string>МинЗапас</string>
			<string>Нигде</string>
		</ListStorageCategoryToTransfers>
		<ListPropertyRequiredAvailability>
			<string />
			<string />
		</ListPropertyRequiredAvailability>
	</TransfersCfg>
	<Stocks>
		<Stock>
			<Name>Попова</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>1</Priority>
			<MainManufacturers>
				<string>КИТАЙ</string>
			</MainManufacturers>
			<Signature>попова</Signature>
		</Stock>
		<Stock>
			<Name>Хасанская</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>2</Priority>
			<Signature>хасанская</Signature>
		</Stock>
		<Stock>
			<Name>Симонова</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>3</Priority>
			<MainManufacturers>
				<string>CHERY</string>
			</MainManufacturers>
			<Signature>симонова</Signature>
		</Stock>
		<Stock>
			<Name>Краснопутиловская</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>4</Priority>
			<MainManufacturers>
				<string>GEELY</string>
			</MainManufacturers>
			<Signature>краснопутиловская</Signature>
		</Stock>
		<Stock>
			<Name>БОГАТЫРСКИЙ</Name>
			<DefaultPeriodMinStock>7</DefaultPeriodMinStock>
			<DefaultPeriodMaxStock>30</DefaultPeriodMaxStock>
			<Priority>5</Priority>
			<MainManufacturers>
				<string>LIFAN</string>
			</MainManufacturers>
			<Signature>богатырский</Signature>
		</Stock>
	</Stocks>
</Config>